@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* width: calc(100% - 2rem); */
  height: 100vh;
  /* margin-left: 2rem; */
  z-index: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  /* padding: 3rem; */
  position: relative;
}

@media (min-width: 640px) {
  body {
    margin-left: 5rem;
    width: calc(100% - 5rem);
  }
}


.body-trimmed {
  width: calc(100% - 15rem);
  margin-left: 15rem;
}

.body-md-screen {
  width: calc(100% - 5rem);
  margin-left: 5rem;
}

.shadow-right {
  box-shadow: 12px 0 24px -4px rgba(59, 130, 246, 0.6), 
              8px 0 12px -6px rgba(59, 130, 246, 0.4);
}

.sidenav-height{
  height: calc(100% - 3.65rem);
}

.products-height{
  height: calc(100% - 5rem);
}

/* HTML: <div class="ribbon">Your text content</div> */
.ribbon {
  /* font-size: 28px; */
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: .5em; /* control the folded part*/
  --r: .8em; /* control the ribbon shape */
  
  position: absolute;
  top: 20px;
  right: calc(-1*var(--f));
  padding-inline: 1em;
  line-height: 1.8;
  background: #055ef7;
  border-bottom: var(--f) solid #0005;
  border-left: var(--r) solid #0000;
  clip-path: 
    polygon(var(--r) 0,100% 0,100% calc(100% - var(--f)),calc(100% - var(--f)) 100%,
      calc(100% - var(--f)) calc(100% - var(--f)),var(--r) calc(100% - var(--f)),
      0 calc(50% - var(--f)/2));
}
